/** @file install.c
 *  @brief Defines where LC3 OS files are located
 *  @details Allows install location to be changed without recompiling
 *  the lc3sim.c file. Thus, code can be provided as an archive instead of
 *  as source.
 * @author Fritz Sieker
 */

// update as necessary - e.g. "/s/bach/a/class/cs270/lc3tools"
// changed by fixPath

const char *install_dir = "abs_path_to_install_dir";

